:root{
    --blanco:#FFFFFF;
    --negro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --size-fuente-principal:3.8rem;
}
html{
    font-size: 62.5%;/* 1 rem = 10px */
}
body{
    font-size: 16px;/* 1 rem = 10px */
    font-family: "Montserrat", sans-serif;
}

.title {
    font-size: var(--size-fuente-principal);
    text-align: center;
    color: var(--primario); 
}
.title span{
    font-size: 2rem;
    color: var();
}
.container{
    width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
    
}
.main-nav{
    display: flex;
    justify-content: space-between;
}
.main-nav a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}
.main-nav a:hover{
    background-color: var(--primario);
    color: var(--negro);
}